<div class="container">
<a href="https://app.scribbler.live">Use Scribbler</a> - <a href="https://join.scribbler.live">Join Discord</a>  - <a href="https://hub.scribbler.live">Checkout Hub</a>  - <a href="https://github.com/gopi-suvanam/scribbler">Star Us on Githib</a>
</div>
<footer class="site-footer border-top mt-4 py-4 text-center" role="contentinfo">
    {% include footer/content-pre.html %}
    {% include footer/content.html %}
    {% include footer/content-post.html %}
</footer>

{% include footer/scripts-pre.html %}
{% include footer/scripts.html %}
{% include footer/scripts-post.html %}

{% include google-analytics.html %}
