---
layout: default
pagination:
  enabled: true
  per_page: 10
permalink: /blog/index.html

---


<ul class="posts">
    {% for post in paginator.posts %}
        <li>
            <span class="list_title"> <a  href="{{ post.url }}> {{ post.title }} </a> </span><br>

        </li>
    {% endfor %}
</ul>



  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page == 1 %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% endif %}
    {% if paginator.previous_page > 1%}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

    {% if paginator.next_page   %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>

    {% endif %}
  </div>


