{% if page.start_link %}
<div class="mt-4 mb-0">
    <a
    href="{{ page.start_link }}"
    target="_blank"
    class="site-masthead__button mx-2 mb-2">Start Here (No Login)</a>
</div>

{% else %}

<div class="mt-4 mb-0">
    {% if site.project.download_url %}
        {% capture button_text -%}
            {{ site.project.download_text | default: 'Download' }}
        {%- endcapture %}

        {% include masthead/button.html
             url=site.project.download_url
             icon="download"
             title=button_text
        %}
    {% endif %}

    {% for link in site.links.homepage %}
        {% include masthead/button.html
               url=link.url
               icon=link.icon
               title=link.title
               brand=link.brand
        %}
    {% endfor %}
</div>
{% endif %}

{% if site.project.version %}
    <p class="site-masthead__version my-0">
        Latest release v{{ site.project.version }}
    </p>
{% endif %}

