.navbar-custom {
    @include themer(background-color,(
        'dark':#252525,
    'light':#fede02
        ));
    a {
        border-bottom: 0;
        font-variant-caps:small-caps;
    }

   
    
    .navbar-brand {
        font-weight: bold;
    }

    .icon-bar {
        @include themer(background, (
            'dark': $site-ui-brand-dark,
            'light': $site-ui-brand-light,
        ));

        border-radius: 1px;
        display: block;
        height: 2px;
        margin: 4px 0;
        width: 22px;
    }
}
