---
layout: default
---

<div class="container">
    <div class="row">
        <main class="col-md-9 layout-page__main">
            
            <a href='/blog/'>Blog</a>><a href="/categories/{{ page.category }}"&nbsp;&nbsp;>&nbsp;&nbsp;{{ page.category }}</a>
            <ul>
                {% for post in site.categories[page.category] %}
                <li>

                  <b><a href="{{ post.url }}">{{ post.title }}</a></b>
                    {% if post.start_link %}
                      <a href="{{ post.start_link }}" class="btn btn-secondary">Jump to Code</a>
                    {% endif %}
                    <br><p>{{post.description}}</p>
                    
                </li>
                {% endfor %}
            </ul>
        </main>
    </div>
</div>
